@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300,400,500,600,700,800,900& display=swap');
*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
body {
  background: #B6B6B6;
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #fff;
}
nav {
  height: 3rem;
  width: 100%;
  border-radius: 5px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

a {
  font-family: Poppins;
  font-size: 24px;
  text-decoration: none;
  color: #fff;
}

.link {
  position: relative;
  list-style: none;
  padding: 4px 0;
}

.link::after,
.link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.6s ease-in-out;
}

.link::after {
  top: 0;
  right: 0;
  transform-origin: right;

}

.link::before {
  left: 0;
  bottom: 0;
  transform-origin: left;
}

.link:hover::after,
.link:hover::before {
  width: 100%;
}

body section {
  margin: 60px auto 120px;
  text-align: center;
  padding: 50px;
  width: 50%;
  max-width: 1100px; 
  height: 500px;
}
body section h1 {
  margin-bottom: 30px;
  font-size: 3em;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
form {
  width: 58.333%;
  margin: 0 auto;
  justify-content: space-evenly;
}
form .field {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}
form .field label {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  background: #002038;
  width: 100%;
  padding: 18px 0;
  font-size: 1.45em;
  letter-spacing: 0.075em;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field label + span {
  font-family: 'SSStandard';
  opacity: 0;
  color: white;
  display: block;
  position: absolute;
  top: 12px;
  left: 7%;
  font-size: 2.5em;
  text-shadow: 1px 2px 0 #cd6302;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"],
form .field textarea {
  border: none;
  background: #E8E9EA;
  width: 80.5%;
  margin: 0;
  padding: 18px 0;
  padding-left: 19.5%;
  color: #002038;
  font-size: 1.4em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
form .field input[type="text"]#msg,
form .field textarea#msg {
  height: 18px;
  resize: none;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"]:focus, form .field input[type="text"].focused,
form .field textarea:focus,
form .field textarea.focused {
  outline: none;
}
form .field input[type="text"]:focus#msg, form .field input[type="text"].focused#msg,
form .field textarea:focus#msg,
form .field textarea.focused#msg {
  padding-bottom: 150px;
}
form .field input[type="text"]:focus + label, form .field input[type="text"].focused + label,
form .field textarea:focus + label,
form .field textarea.focused + label {
  width: 18%;
  background: #f79600;
  color: #002038;
}
form .field input[type="text"].focused + label,
form .field textarea.focused + label {
  color: #f79600;
}
form .field:hover label {
  width: 18%;
  background: #002038;
  color: white;
}
form input[type="submit"] {
  background: #f79600;
  color: white;
  -webkit-appearance: none;
  border: none;
  text-transform: uppercase;
  position: relative;
  padding: 13px 50px;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form input[type="submit"]:hover {
  background: #002038;
  color: #f79600;
}
form input[type="submit"]:focus {
  outline: none;
  background: #cd6302;
}
@media (min-width:320px) and (max-height:765px) {
  form {
    width: 100%;
    align-content: center;
  }
  footer {
    margin-top: 5rem;
    text-align: center;
  }
  .social-icons{
  display: contents;
  justify-content: stretch;
  margin-top: 10rem;
  }
}
.social-icons{
  margin-left: 43rem;
  margin-top: 5rem;
}

.social-icons a {
    padding: 10px;
    text-decoration: none;
    border-spacing: 50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 20px;
    color:black ;
    z-index: 1;
    transition: 0.4s;
}
.social-icons a:hover{
    background-color: red;
}
.social-icons a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 0;
    height: 100%;
    background: red;
    z-index: -1;
    transition: 0.4s;
}
