@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300,400,500,600,700,800,900& display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
body {
    background-image: url("/Images/beat-audio-bg.jpg") no-repeat;
    width: 100%;
    height: 100%;
    color: black;
    background-position: center;
    background-size: cover;
    padding: 10px 10px;
    display: grid;
}
nav {
    height: 3rem;
    background-color: #222;
    width: 100%;
    border-radius: 5px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

a {
    font-family: Poppins;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}

.link {
    position: relative;
    list-style: none;
    padding: 4px 0;
}

.link::after,
.link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: all 0.6s ease-in-out;
}

.link::after {
    top: 0;
    right: 0;
    transform-origin: right;

}

.link::before {
    left: 0;
    bottom: 0;
    transform-origin: left;
}

.link:hover::after,
.link:hover::before {
    width: 100%;
}
.headphones, .Airpods{
    background-color: transparent;
    display: flexbox;
    padding: 10px;
    margin: 5px 5px 5px 5px;
    text-align: center;
    color: red;
}
.pictures h2{
    padding: 10px;
}
.btn {
    border: 0;
    background: #111;
    color: #fff;
    padding: 0.68em;
    width: 140px;
    border-radius: 14px;
    font-weight: bold;
}
  
.btn:hover {
    opacity: 0.8;
  } 
.social-icons{
    bottom: 0rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 38rem;
}
.social-icons a {
    padding: 0rem;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    border-spacing: 1rem;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 20px;
    color:black ;
    z-index: 1;
    transition: 0.4s;
}
.social-icons a:hover{
    background-color: red;
}
.social-icons a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 0;
    height: 100%;
    background: red;
    z-index: -1;
    transition: 0.4s;
}

.wrapper {
    display: flex;
	width: 90%;
	justify-content: space-around;
}

.card {
    width: 280px;
    height: 360px;
    border: solid 3px #272727;
    border-radius: 19px;
    padding: 1.5rem;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
  
.card:hover {
  transform: translateY(20px);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.card:hover:before {
  opacity: 1;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.card .info h1 {
  margin: 0px;
}

.card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}

.card .info button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}

.card .info button:hover {
  background: dodgerblue;
  color: white;
}
